In [ ]:
Assignment number 4

In [1]:
#Q1.    [] is  an empty list
a = []
type (a)

list

In [2]:
#Q2.
spam = [2,4,6,8,10]
spam.insert(2,"Hello")
spam

[2, 4, 'Hello', 6, 8, 10]

In [ ]:
#Lets pretend the spam includes the list['a','b','c','d'] for the next three queries

In [3]:
spam = ['a','b','c','d']

In [4]:
#Q3. 
spam[int(int(3*2)/11)]

'a'

In [5]:
#Q4.
spam[-1]

'd'

In [6]:
#Q5.
spam[:2]

['a', 'b']

In [8]:
# Lets pretend bacon has the list [3.14,'cat',11,'cat',True] for next three questions
bacon= [3.14,'cat',11, 'cat', True]

In [9]:
#Q6.
bacon.index('cat')

1

In [10]:
#Q7.
bacon.append(99)

In [11]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [12]:
#Q8.
bacon.remove('cat')

In [13]:
bacon

[3.14, 11, 'cat', True, 99]

In [15]:
#Q9.a) List concatenation - easily add the whole of one list behind the other list
a=[1,2,3,4]
b=[5,6,7,8]
a + b

[1, 2, 3, 4, 5, 6, 7, 8]

In [1]:
#b) List replication- operator replicates the elements in the list
a= [1,2,3,4]
b = a * 2
b

[1, 2, 3, 4, 1, 2, 3, 4]

10) Difference between the list methods append() and insert() is that with append() we can add new entry at the end of the list.But with insert(position,new_entry) we can create a new entry in the position we want.

In [2]:
l = [16,56,34,5]
l.append(38)
#adds 38 at the end of the list
l

[16, 56, 34, 5, 38]

In [3]:
l.insert(3,2)
#insert 2 at 3rd position
l

[16, 56, 34, 2, 5, 38]

In [ ]:
Q11) Two methods for removingitems from a list are REMOVE() and POP()

In [4]:
# remove(element) from list
l.remove(56)
l

[16, 34, 2, 5, 38]

In [5]:
# pop(inde) from the list
l.pop(2)
l

[16, 34, 5, 38]

Q12. Both lists and strings can be passed to len(), have indees and slices, be used in for loops , be concatenated or replicated and be used with the in and not in operators.

Q13. List and tuples look similar, but the major difference is that lists are mutable and tuples are immutable.

In [6]:
list = [1,2,3,"Hello", True]
list

[1, 2, 3, 'Hello', True]

In [7]:
tuple = (1,2,3,"Hello",True)
tuple

(1, 2, 3, 'Hello', True)

In [8]:
#Q14.
tuple = (42)
a = type(tuple)
#will give an integer
tuple = (42,)
b = type(tuple)
#will give tuple
print(b)

<class 'tuple'>

In [10]:
# Q15. To convert list to tuple ---use tuple()
# To convert tuple into list ---- use list()
l = [1,2,3,4,5]
print("List to tuple", tuple(l))

t = (1,2,3,4,5)
print("Tuple to list", list(t))

TypeError: 'tuple' object is not callable

Q16. They contain refrences to list values.

Q17. The copy.copy() funtion will do a shallow copy of a list, while the copy.deepcopy() function will do a deep copy of a list. That is, only copy.deepcopy() will duplicate any lists inside the list.

In [ ]:
import copy
#initializing list
li1= [1,2,[3,5],4]
li1
#using copy for shallow copy
li2 = copy.copy(li1)

#using deepcopy for deepcopy
li3 = copy.deepcopy(li1)

Deep copy is a process in which the copying process occurs recursively. It means first constructing a new collection objectand then recursively populating it with copies of the child objects found in the original. In case of deep copy, a copy of object is copied in other object. It means that any changes made to copy of objectndo not reflect in the original object. In python,this is implemented using "deepcopy()" function.